*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family:'Poppins', sans-serif;
}

#main{
	background: #e2e6e7;
	background-position:center;
	background-size:cover;
	min-height:100vh;
	width:100%;
	backdrop-filter:blur(10px);
	position: relative;
}

header{
	position:relative;
	top:20px;
	margin: auto;
	width:85%;
	height:10vh;
	background-color:#5a90bc;
    overflow:hidden;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:0px 40px;
	border-radius:40px;
}

header .logo h1{
	font-size:30px;
	font-weight:600;
	color:white;
	text-transform:uppercase;
}

header .logo h1 span{
	font-size:25px;
	font-weight:500;
	color:#3e3e3e;
	letter-spacing:-1px;
}

header nav ul{
	display:flex;
	gap:2rem;
	list-style:none;
}

header nav ul a{
	text-decoration:none;
	color:white;
	font-size:1rem;
	text-transform:uppercase;
	font-weight:500;
	position:relative;
}

header nav ul a:after{
	content:"";
	position:absolute;
	bottom:0px;
	left:0;
	width:0%;
	height:2px;
	background-color:white;
	border-radius:40px;
	transition:all 0.3s ease-in-out;
}

header nav ul a:hover:after{
	width:100%;
}

header .nav-btn{
	display:flex;
	gap:20px;
}

header .nav-btn button:nth-child(1){
	padding:8px 18px;
	border:none;
	border-radius:10px;
	font-size:15px;
	font-weight:600;
	cursor:pointer;
	box-shadow: 2px 2px 4px -3px black,
		    1px 1px 4px -2px black inset;
	background-color:#3e3e3e;
	color:#ffffff;
}

header .nav-btn button:nth-child(2){
	text-align:center;
	width:35px;
	height:35px;
	border:none;
	border-radius:50%;
	font-size:14px;
	transition: all 0.1s ease-in-out;
	cursor:pointer;
}

header .nav-btn button:nth-child(2):hover{
	font-size:17px;
}
	

footer {
	padding:30px 100px;
	position:fixed;
	bottom:0;
	width:100%;
	min-height:200px;
	background-color:#ffffff;
	display:flex;
	flex-direction: column;
	gap:2rem;
}	

footer .main-footer{
	display:flex;
	justify-content:space-between;
}

footer .main-footer .footer-links{
	display:flex;
	justify-content:space-evenly;
	gap:10rem
}

footer .main-footer .footer-links .footer-link{
	display:flex;
	flex-direction:column;
}

footer .main-footer .footer-links .footer-link h3{
	font-size:17px;
	font-weight:600;
	letter-spacing:2px
}

footer .main-footer .footer-links .footer-link a{
	text-decoration:none;
	color:#3e3e3e;
	font-weight:500;
	transition:all 0.2s ease-in-out
}

footer .main-footer .footer-links .footer-link a:hover{
	color:#000;
}

footer .main-footer .footer-logo h1{
	font-size:30px;
	font-weight:600;
	color:#5a90bc;
	text-transform:uppercase;
}

footer .main-footer .footer-logo h1 span{
	font-size:25px;
	font-weight:500;
	color:#3e3e3e;
	letter-spacing:-1px;
}

footer .main-footer .footer-logo p{
	font-size:15px;
}

footer .sub-footer{
	position:relative;
	display:flex;
	align-items:center;
	justify-content: space-between;
	font-size:14px;
	font-weight:500
}


footer .divider{
	width:100%;
	height:2px;
	background-color:#3e3e3e;
	border-radius:20px;
}


	
.search input{
display: none;
padding: 2% 3%;
flex-grow: 1;
border-radius: 50px;
border: none;
	outline: none;
	height: 70%;
}

.search{
	
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	display: none;
	
}
.search span{
	background-color: white;
	height: 70%;
	width: 90px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50px;
	
}















